<nav class="navbar navbar-default">
		<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
					<!--Logo-->
					<div class="navbar-header">
						<a href="#" class="navbar-brand">Koduraamatukogu</a>
					</div>

					<div>
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Raamatud</a></li>
							<li><a href="#">Laenutused</a></li>
						</ul>
					</div>
					<!-- Menüü -->
					<div>
						<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logi välja</a></li>
						</ul>
					</div>
					
			</div>
			<div class="col-md-1"></div>
		</div>	
</nav>

<div class="container-fluid">
		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
				<div class="well">
					<button class="btn btn-primary" data-toggle="collapse" data-target="#addBook">Lisa raamat</button>
					<div id="addBook" class="collapse">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="control-label col-sm-2" for="lastName">Autori perekonnanimi</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="lastName">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="firstName">Autori eesnimi</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="firstName">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="bookTitle">Teose pealkiri</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="bookTitle">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="language">Keel</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="language">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="bookStatus">Staatus</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="bookStatus">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="notes">Märkused</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="notes">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-success">Lisa raamat</button>
								</div>
							</div>
						</form>
					</div>

						<div class="table-responsive">
								<table class="table table-hover">
										<thead>
										<tr>
												<th>Autori perekonnanimi</th>
												<th>Autori eesnimi</th>
												<th>Teose pealkiri</th>
												<th>Keel</th>
												<th>Staatus</th>
												<th>Märkused</th>
										</tr>
										</thead>
										<tbody>
										<tr>
												<td>Tode</td>
												<td>Emil</td>
												<td>Piiririik</td>
												<td>eesti</td>
												<td>kadunud</td>
												<td>mingi märkus</td>
										</tr>
										<tr>
												<td>Õnnepalu</td>
												<td>Tõnu</td>
												<td>Raadio</td>
												<td>eesti</td>
												<td>riiulis</td>
												<td>mingi märkus</td>
										</tr>                 
										<tr>
												<td>Õnnepalu</td>
												<td>Tõnu</td>
												<td>Flandria päevik</td>
												<td>eesti</td>
												<td>kadunud</td>
												<td>mingi märkus</td>
										</tr>
										</tbody>
								</table>
						</div> 
				</div>
				<div class="col-md-1"></div>
				</div>
		</div>
</div>
