<div class="container-fluid">
	<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
			<div class="well">
			<h2>Muuda raamatu infot</h2>

			<form class="form-horizontal" action="controller.php?page=bookedited" method="post">

			<input type="hidden" name="id" value="<?php echo $_GET['id'] ?>"><br>

				<div class="form-group">
			    <label for="title" class="col-sm-2 control-label">Teose pealkiri</label>
			    <div class="col-sm-6">
			      <input type="text" id="title" class="form-control" name="book_title" value="<?php echo $bookInfo['title']; ?>">
			    </div>
			    <div class="col-sm-4"></div>
			  </div>

			  <div class="form-group">
			    <label for="lname" class="col-sm-2 control-label">Autori perekonnanimi</label>
			    <div class="col-sm-6">
			      <input type="text" id="lname" class="form-control" name="author_lastname" value="<?php echo $bookInfo['last_name']; ?>"/ >
			    </div>
			    <div class="col-sm-4"></div>
			  </div>

			  <div class="form-group">
			    <label for="fname" class="col-sm-2 control-label">Autori eesnimi</label>
			    <div class="col-sm-6">
			      <input type="text" id="fname" class="form-control" name="author_firstname" value="<?php echo $bookInfo['first_name']; ?>">
			    </div>
			    <div class="col-sm-4"></div>
			  </div>

			  <div class="form-group">
			    <label for="status" class="col-sm-2 control-label">Staatus</label>
			    <div class="col-sm-2">
			      <select class="form-control" id="status" name="bookstatus">
					  <option <?php if ($bookInfo['status'] == 1 ) echo 'selected'; ?> value="1">Laenasin kelleltki</option>
					  <option <?php if ($bookInfo['status'] == 2 ) echo 'selected'; ?> value="2">Laenasin kellelegi</option>
					  <option <?php if ($bookInfo['status'] == 3 ) echo 'selected'; ?> value="3">Riiulis olemas</option>
					</select>
			    </div>
			    <div class="col-sm-8"></div>
			  </div>

			  <div class="form-group">
			    <label for="notes" class="col-sm-2 control-label">Märkused</label>
			    <div class="col-sm-6">
			      <input type="text" id="notes" class="form-control" name="book_notes" value="<?php echo $bookInfo['notes']; ?>">
			    </div>
			    <div class="col-sm-4"></div>
			  </div>

			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-success">Muuda</button>
			    </div>
			    <div class="col-sm-4"></div>
			  </div>
			</form>
			<div class="col-md-2"></div>
			</div>

	</div>
</div>
