<h2>Logi sisse</h2>

<form action="index.php?page=loginsuccess" method="post" id="login">
	<fieldset>
		<legend>E-posti aadress</legend>
		<input type="email" name="loginEmail"/>
	</fieldset>
	<fieldset>
		<legend>Parool</legend>
		<input type="password" name="loginPassword"/>
	</fieldset>
	<input type="submit" value="Logi sisse"/>
</form>

<?php if(isset($_SESSION['errors'])): ?>

        <p>
            <?php foreach($_SESSION['errors'] as $error=>$message):
            echo '<p>'.$message.'</p>';
            endforeach; ?>
        </p>

<?php unset($_SESSION['errors']); ?>
<?php endif; ?>
