<h2>Registreeru</h2>

<form action="index.php?page=registersuccess" method="post" id="register">
	<fieldset>
		<legend>Nimi</legend>
		<input type="text" name="name"/>
	</fieldset>
	<fieldset>
		<legend>E-posti aadress</legend>
		<input type="email" name="email"/>
	</fieldset>
	<fieldset>
		<legend>Parool</legend>
		<input type="password" name="password"/>
	</fieldset>
	<fieldset>
		<legend>Parool uuesti</legend>
		<input type="password" name="confirmPassword"/>
	</fieldset>
	<input type="submit" value="Registreeru"/>
</form>

<?php if(isset($_SESSION['errors'])): ?>

        <p>
            <?php foreach($_SESSION['errors'] as $error=>$message):
            echo '<p>'.$message.'</p>';
            endforeach; ?>
        </p>

<?php unset($_SESSION['errors']); ?>
<?php endif; ?>
