<div class="container-fluid">
		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
				<div class="well">
					<form class="form-signin" action="controller.php?page=passwordchanged"  method="post">
				        <h2 class="form-signin-heading">Muuda salasõna</h2>
				       
				        <label for="inputPassword" class="sr-only">Vana salasõna</label>
				        <input type="password" id="inputPassword" class="form-control" name="old_password" placeholder="Vana salasõna" required>
				        
				        <label for="inputPassword" class="sr-only">Uus salasõna</label>
				        <input type="password" id="inputPassword" class="form-control" name="new_password1" placeholder="Uus salasõna" required>
				        
				        <label for="inputPassword" class="sr-only">Uus salasõna uuesti</label>
				        <input type="password" id="inputPassword" class="form-control" name="new_password2" placeholder="Uus salasõna uuesti" required>
				        <button class="btn btn-lg btn-primary btn-block" type="submit">Muuda salasõna</button>
				      </form>
				<div class="col-md-1"></div>
				</div>
		</div>
</div>