<div class="container-fluid">
	<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
			<div class="well">
			
			
			<div class="table-responsive">
				<table class="table table-striped">
				<tr>
					<th>Perekonnanimi</th>
					<th>Eesnimi</th>
					<th>Pealkiri</th>
					<th>Staatus</th>
					<th>Märkmed</th>
					<th></th>
					<th></th>
				</tr>
				<?php foreach($books as $key=>$value) {
					print_r("<tr>");
					print_r("<td>".$value['last_name']."</td>");
					print_r("<td>".$value['first_name']."</td>");
					print_r("<td>".$value['title']."</td>");
					print_r("<td>".$value['status']."</td>");
					print_r("<td>".$value['notes']."</td>");
					print_r("<td>Muuda</td>");
					print_r("<td><button type=\"button\" class=\"close\" aria-label=\"Close\">
							  		<span aria-hidden=\"true\">&times;</span>
								</button></td>");
					print_r("</tr>");}
				?>
				</table>
			</div>
			<div class="col-md-2"></div>
			</div>
	</div>
</div>
