<div class="container-fluid">
	<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
			<div class="well">
			
			<h2>Kelleltki laenatud raamatud</h2>
			<div class="table-responsive">
				<table class="table table-striped">
				<tr>
					<th>Perekonnanimi</th>
					<th>Eesnimi</th>
					<th>Pealkiri</th>
					<th>Staatus</th>
					<th>Märkmed</th>
					<th></th>
					<th></th>
				</tr>

				<?php foreach($books as $key=>$value) {
					if ($value['status'] == 1) {
						print_r("<tr>");
						print_r("<td>".$value['last_name']."</td>");
						print_r("<td>".$value['first_name']."</td>");
						print_r("<td>".$value['title']."</td>");
						print_r("<td>Kelleltki laenatud</td>");
						print_r("<td>".$value['notes']."</td>");
						print_r("<td><a href=\"?page=edit&id=".$value['id']."\"><span class=\"glyphicon glyphicon-pencil\" alt=\"Muuda\"></span></a></td>");
						print_r("<td><a href=\"#\"><span class=\"glyphicon glyphicon-remove\"></span></a></td>");
						print_r("</tr>");}
					}
					
				?>
				</table>
			</div>
			<div class="col-md-2"></div>
			</div>
			<div class="well">
			
			<h2>Kellelegi laenatud raamatud</h2>
			<div class="table-responsive">
				<table class="table table-striped">
				<tr>
					<th>Perekonnanimi</th>
					<th>Eesnimi</th>
					<th>Pealkiri</th>
					<th>Staatus</th>
					<th>Märkmed</th>
					<th></th>
					<th></th>
				</tr>
				<?php foreach($books as $key=>$value) {
					if ($value['status'] == 2) {
						print_r("<tr>");
						print_r("<td>".$value['last_name']."</td>");
						print_r("<td>".$value['first_name']."</td>");
						print_r("<td>".$value['title']."</td>");
						print_r("<td>Kellelegi laenatud</td>");
						print_r("<td>".$value['notes']."</td>");
						print_r("<td><a href=\"?page=edit&id=".$value['id']."\"><span class=\"glyphicon glyphicon-pencil\"></span></a></td>");
						print_r("<td><a href=\"#\"><span class=\"glyphicon glyphicon-remove\"></span></a></td>");
						print_r("</tr>");}
					}
				?>
				</table>
			</div>
			<div class="col-md-2"></div>
			</div>
			<div class="well">
			<h2>Riiulis olevad raamatud</h2>
			<div class="table-responsive">
				<table class="table table-striped">
				<tr>
					<th>Perekonnanimi</th>
					<th>Eesnimi</th>
					<th>Pealkiri</th>
					<th>Staatus</th>
					<th>Märkmed</th>
					<th></th>
					<th></th>
				</tr>
				<?php foreach($books as $key=>$value) {
					if ($value['status'] == 3) {
					print_r("<tr>");
					print_r("<td>".$value['last_name']."</td>");
					print_r("<td>".$value['first_name']."</td>");
					print_r("<td>".$value['title']."</td>");
					print_r("<td>Riiulis</td>");
					print_r("<td>".$value['notes']."</td>");
					print_r("<td><a href=\"?page=edit&id=".$value['id']."\"><span class=\"glyphicon glyphicon-pencil\"></span></a></td>");
						print_r("<td><a href=\"#\"><span class=\"glyphicon glyphicon-remove\"></span></a></td>");
					print_r("</tr>");}
					}
				?>
				</table>
			</div>
			</div>
			<div class="col-md-2"></div>
			</div>
	</div>
</div>