<div class="container-fluid">
	<div class="row">

			<div class="col-md-2"></div>
			<div class="col-md-8">

			
			<?php if(isset($_SESSION['success'])): ?>
					<div class="alert alert-success" role="alert">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<p><?php print_r($_SESSION['success']); ?></p>
					</div> 
			<?php unset($_SESSION['success']); ?>
			<?php endif; ?>

			<div class="col-md-2"></div>
			

			<div class="well">
			<h3><span class="glyphicon glyphicon-menu-down" onclick="showHide('firstTable')" style="cursor: pointer;"></span> Kelleltki laenatud raamatud</h3>
			<div class="table-responsive" id="firstTable">
				<table class="table table-striped">
				<thead>
					<th>Pealkiri</th>
					<th>Perekonnanimi</th>
					<th>Eesnimi</th>
					<th>Märkmed</th>
					<th>Lisatud</th>
					<th>Muuda</th>
					<th>Kustuta</th>
				</thead>

				<?php foreach($books as $key=>$value) {
					if ($value['status'] == 1) {
						print_r("<tr>");
						print_r("<td>".$value['title']."</td>");
						print_r("<td>".$value['last_name']."</td>");
						print_r("<td>".$value['first_name']."</td>");
						print_r("<td>".$value['notes']."</td>");
						print_r("<td>".$value['date_entered']."</td>");
						print_r("<td><a href=\"?page=edit&id=".$value['id']."\"><span class=\"glyphicon glyphicon-pencil\"></span></a></td>");
						print_r("<td><a href=\"?page=removebook&id=".$value['id']."\" onclick=\"return confirm('Kas oled kindel, et tahad raamatut kustutada?')\"><span class=\"glyphicon glyphicon-remove\"></span></a></td>");
						print_r("</tr>");
						}
					}
					
				?>
				</table>
			</div>
			<div class="col-md-2"></div>
			</div>

			<div class="well">
			<h3><span class="glyphicon glyphicon-menu-down" onclick="showHide('secondTable')" style="cursor: pointer;"></span> Kellelegi laenatud raamatud</h3>
			<div class="table-responsive" id="secondTable">
				<table class="table table-striped">
				<thead>
					<th>Pealkiri</th>
					<th>Perekonnanimi</th>
					<th>Eesnimi</th>
					<th>Märkmed</th>
					<th>Lisatud</th>
					<th>Muuda</th>
					<th>Kustuta</th>
				</thead>
				<?php foreach($books as $key=>$value) {
					if ($value['status'] == 2) {
						print_r("<tr>");
						print_r("<td>".$value['title']."</td>");
						print_r("<td>".$value['last_name']."</td>");
						print_r("<td>".$value['first_name']."</td>");
						print_r("<td>".$value['notes']."</td>");
						print_r("<td>".$value['date_entered']."</td>");
						print_r("<td><a href=\"?page=edit&id=".$value['id']."\"><span class=\"glyphicon glyphicon-pencil\"></span></a></td>");
						print_r("<td><a href=\"?page=removebook&id=".$value['id']."\" onclick=\"return confirm('Kas oled kindel, et tahad raamatut kustutada?')\"><span class=\"glyphicon glyphicon-remove\"></span></a></td>");
						}
					}
				?>
				</table>
			</div>
			<div class="col-md-2"></div>
			</div>

			<div class="well">
			<h3><span class="glyphicon glyphicon-menu-down" onclick="showHide('thirdTable')" style="cursor: pointer;"></span> Riiulis olevad raamatud</h3>
			<div class="table-responsive" id="thirdTable">
				<table class="table table-striped">
				<thead>
					<th>Pealkiri</th>
					<th>Perekonnanimi</th>
					<th>Eesnimi</th>
					<th>Märkmed</th>
					<th>Lisatud</th>
					<th>Muuda</th>
					<th>Kustuta</th>
				</thead>
				<?php foreach($books as $key=>$value) {
					if ($value['status'] == 3) {
						print_r("<tr>");
						print_r("<td>".$value['title']."</td>");
						print_r("<td>".$value['last_name']."</td>");
						print_r("<td>".$value['first_name']."</td>");
						print_r("<td>".$value['notes']."</td>");
						print_r("<td>".$value['date_entered']."</td>");
						print_r("<td><a href=\"?page=edit&id=".$value['id']."\"><span class=\"glyphicon glyphicon-pencil\"></span></a></td>");
						print_r("<td><a href=\"?page=removebook&id=".$value['id']."\" onclick=\"return confirm('Kas oled kindel, et tahad raamatut kustutada?')\"><span class=\"glyphicon glyphicon-remove\"></span></a></td>");
						}
					}
				?>
				</table>
			</div>
			</div>
			<div class="col-md-2"></div>
			</div>
	</div>
</div>